.grid__layout {
	margin: 2em;
	display: grid;
	column-gap: 20px;
	align-content: start;
	grid-auto-rows: auto;
	grid-auto-columns: auto;
	grid-template-columns: repeat(6, 1fr);

	.nav {
		grid-row: 1;
		grid-column: 1/2;
	}

	.body {
		grid-row: 1;
		grid-column: 2/7;
	}

}

@media screen and (max-width: 900px) {
	.grid__layout {
		row-gap: 20px;
		column-gap: 0;
		grid-auto-rows: auto;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr);

		.nav {
			grid-column: 1;
			grid-row: 1;
		}

		.body {
			grid-column: 1;
			grid-row: 2;
		}
	}
}
