@import "imports";

*, *:after, *:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	color: #424242;
	background-color: $color_one;
	font-family: "Arial", sans-serif;
}

