*, *:after, *:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	//font-family: "Candara", sans-serif;
	letter-spacing: 1px;
	font-family: "Franklin Gothic Book", sans-serif;
}

fieldset {
	border: none;
}

@import "mixins";

@import "flex";
@import "grid";

@import "header";
@import "blocks";
@import "button";
@import "steps";

@import "form/input";
@import "form/radio";
@import "form/range";
@import "form/select";
